html {
  background-color: gray;
}

main {
  margin-top: 2em;
  margin-bottom: 2em;
}
/* Estilo navbar */
nav {
  background-color: black;
  height: 65px;
}

.brand-logo img {
  height: 64px;
  margin-left: 0float: right;.5em;
}

nav ul a {
  font-size: 1.5em;
  font-weight: bold;
  margin-right: 0.5em;
}

.div-source {
  border: solid;
  background-color: gray;
  border-radius: 13px;
  width: 260px;
  height: 45px;
  overflow: hidden;
  margin-top: 0.5em;
}

.text-source {
  float: left;
  width: 12.6em;
  margin-top: -2px;
  margin-left: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  float: left;
  width: 14em;
  margin-top: -2px;
  margin-left: 10px;
}

#lupa {
  float: left;
  margin-top: 6px;
  width: 28px;
}

/* Estilo side-nav */
.side-nav {
  background-color: black;
}

.side-nav img {
  height: 64px;
  margin-top: 1em;
  margin-left: 8em;
}

.side-nav #div-source {
  float: left;
  margin-top: 1em;
}

.side-nav div #lupa {
  float: left;
  height: 20px;
  margin-left: 1em;
  margin-top: 0.5em;
}

.side-nav a {
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.3em;
}

.container {
  width: 83%;
}

/* Estilo carrosel*/

#div-carousel {
  text-align: center;
}

#div-carousel img {
  width: 80%;
  height: 80%;
}

/* Estilos seções*/

hr {
  border-color: black;
}

#site-width div {
  overflow: hidden;
}

#sessao-pop h4 {
  color: black;
  float: left;
}

#sessao-pop a {
  color: white;
  float: right;
  margin-top: 3em;
}

/* Estilos cards */

#card-list {
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.title {
  display: none;
  position: absolute;
  width: 233px;
  margin-top: 20em;
  background-color: black;
  color: white;
  font-weight: bold;
  text-align: center;
}

.card {
  width: 233px;
  height: 350px;
  margin: 15px;
  float: left;
}

.card img {
  width: 100%;
  height: 100%;
}

/* Estilo para as páginas de cada livros*/

#bloco-topo {
  overflow: hidden;
}

.descricao {
  float: left;
  text-align: center;
}

.descricao p,
h3 {
  text-align: center;
}

#bloco-solo {
  overflow: hidden;
}
#bloco-solo p {
  text-align: justify;
}

#info-left {
  float: left;
  width: 531px;
}

#info-rigth {
  float: left;
}

/* Estilo books */

#select-read {
  width: 233px;
  margin-left: 14px;
}

select {
  display: block;
  background-color: black;
  color: white;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
}

#questions {
  display: flex;
  justify-content: center;
}

.bt-questions {
  background-color: black;
  height: 50px;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  border-style: solid;
  border-color: white;
}

/* Estilo cadastros */

#formulario {
  display: flex;
  justify-content: center;
  margin-top: 5em;
}

#formulario-logo {
  display: flex;
  justify-content: center;
  margin: 2em;
}

#formulario-logo img {
  height: 64px;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

/* Estilo all books */

fieldset {
  overflow: hidden;
}

fieldset div {
  float: left;
  margin: 5px;
}

fieldset button {
  background-color: black;
  color: white;
  font-weight: bold;
  border-radius: 1px;
}

/* Estilo login */

#dados {
  display: flex;
  justify-content: center;
  margin-top: 5em;
}

#dados-logo {
  display: flex;
  justify-content: center;
  margin: 2em;
}

#dados-logo img {
  height: 64px;
}

.div-login {
  border: solid white;
  background-color: black;
  border-radius: 13px;
  width: 260px;
  height: 45px;
  overflow: hidden;
  margin-top: 0.5em;
}

#dados a {
  float: right;
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

#dados p {
  float: left;
  color: white;
  font-weight: bold;
}

.bt-login {
  background-color: white;
  height: 50px;
  color: black;
  font-weight: bold;
  width: 6em;
  border-radius: 30px;
  border-style: solid;
  margin-top: 2em;
}
