html {
  background-color: gray;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

/* Estilo navbar */

.brand-logo img {
  height: 64px;
}

nav ul a {
  font-size: 1.5em;
  font-weight: bold;
  margin-right: 0.5em;
}

.div-source {
  border: solid;
  background-color: gray;
  border-radius: 13px;
  width: 260px;
  height: 45px;
  overflow: hidden;
  margin-top: 0.5em;
}

.text-source {
  float: left;
  width: 12.6em;
  margin-top: -2px;
  margin-left: 10px;
}

input[type='text'],
input[type='email'],
input[type='password'] {
  float: left;
  width: 14em;
  margin-top: -2px;
  margin-left: 10px;
}

#lupa {
  float: left;
  margin-top: 6px;
  width: 28px;
}

.img-profile-div {
  height: 50px;
  width: 50px;
  float: left;
  overflow: hidden;
  margin-top: 6px;
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
  border-color: white;
}

.img-profile-div a {
  height: 100%;
  width: 100%;
  padding: 0%;
}

.img-profile-div img {
  height: 100%;
  width: 100%;
}

.dropdown-content li > a {
  font-size: 16px;
  color: #ffffff;
  display: block;
  line-height: 22px;
  padding: 14px 16px;
}

/* Estilo side-nav */

.sidenav li > a {
  color: rgba(255, 255, 255, 0.87);
  display: block;
  font-size: 25px;
  font-weight: 500;
  height: 48px;
  line-height: 48px;
  padding: 0 32px;
}

.side-nav img {
  height: 64px;
  margin-top: 1em;
  margin-left: 8em;
}

.side-nav #div-source {
  float: left;
  margin-top: 1em;
}

.side-nav div #lupa {
  float: left;
  height: 20px;
  margin-left: 1em;
  margin-top: 0.5em;
}

.side-nav a {
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.3em;
}

.container {
  width: 83%;
}

#bt-exit {
  background-color: transparent;
  border: 0;
  font-size: 16px;
  color: white;
  cursor: pointer;
  line-height: 22px;
  font-weight: bold;
  display: inline-block;
  padding: 0;
  margin-top: 8px;
  margin-left: 17px;
  position: relative;
}

#bt-exit-sidenav {
  background-color: transparent;
  border: 0;
  font-size: 25px;
  color: white;
  cursor: pointer;
  line-height: 22px;
  display: inline-block;
  padding: 0;
  margin-top: 8px;
  margin-left: 33px;
  position: relative;
}

/* Estilo carrosel*/

#div-carousel {
  text-align: center;
}

#div-carousel img {
  width: 80%;
  height: 80%;
}

/* Estilos seções*/

hr {
  border-color: black;
}

.site-width div {
  overflow: hidden;
}

.section h4 {
  color: black;
  float: left;
}

.section a {
  color: white;
  float: right;
  margin-top: 3em;
}

/* Estilos cards */

.list {
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.title {
  display: none;
  position: absolute;
  width: 233px;
  margin-top: 20em;
  background-color: black;
  color: white;
  font-weight: bold;
  text-align: center;
}

.card {
  width: 233px;
  height: 350px;
  margin: 15px;
  float: left;
}

.card img {
  width: 100%;
  height: 100%;
}

/* Estilo para as páginas de cada livros*/

#bloco-topo {
  overflow: hidden;
}

.descricao {
  float: left;
  text-align: center;
}

.descricao p,
h3 {
  text-align: center;
}

#bloco-solo {
  overflow: hidden;
}
#bloco-solo p {
  text-align: justify;
}

#info-left {
  float: left;
  width: 531px;
}

#info-rigth {
  float: left;
}

/* Estilo books */

#select-read {
  width: 233px;
  margin-left: 14px;
}

select {
  display: block;
  background-color: black;
  color: white;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
}

#questions {
  display: flex;
  justify-content: center;
}

.bt-questions {
  background-color: black;
  height: 50px;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  border-style: solid;
  border-color: white;
}

/* Estilo cadastros */

#formulario {
  display: flex;
  justify-content: center;
  margin-top: 5em;
}

#formulario-logo {
  display: flex;
  justify-content: center;
  margin: 2em;
}

#formulario-logo img {
  height: 64px;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 2.5em;
  margin-bottom: 1.5em;
}

/* Estilo all books */

fieldset {
  overflow: hidden;
}

fieldset div {
  float: left;
  margin: 5px;
}

fieldset button {
  background-color: black;
  color: white;
  font-weight: bold;
  border-radius: 1px;
}

[type='checkbox']:not(:checked),
[type='checkbox']:checked {
  position: inherit;
  opacity: 1;
  pointer-events: auto;
}

/* Estilo login/cadastro */

.fields {
  border: solid white;
  background-color: black;
  border-radius: 13px;
  width: 20em;
  height: 3em;
  overflow: hidden;
  margin-bottom: 1em;
}

#form-fields {
  display: flex;
  justify-content: center;
  margin-top: 5em;
}

#form-logo {
  display: flex;
  justify-content: center;
  margin: 2em;
}

#form-logo img {
  height: 64px;
}

#form-fields input {
  color: white;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin-left: 0.5em;
  margin-top: -0.2em;
}

#form-fields a {
  float: left;
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

#form-fields p {
  float: left;
  color: white;
  font-weight: bold;
  margin-right: 10px;
}

.form-button {
  background-color: white;
  height: 50px;
  color: black;
  font-weight: bold;
  width: 6em;
  border-radius: 30px;
  border-style: solid;
  margin-top: 1.5em;
}

/* Estilo para página do perfil */

.profile-div {
  height: 250px;
}

#image-profile {
  border-radius: 100%;
  overflow: hidden;
  height: 150px;
  width: 150px;
  background: black;
  margin: auto;
  margin-top: 30px;
}

#profile-name {
  text-align: center;
}

#image-profile {
  position: relative;
  height: 150px;
  width: 150px;
  margin: 50px auto;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 1px 1px 15px -5px black;
  transition: all 0.3s ease;
}

.profile-pic {
  height: 100%;
  width: 100%;
  transition: all 0.3s ease;
}

.upload-button {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.fa-arrow-circle-up {
  position: absolute;
  font-size: 234px;
  top: -17px;
  left: 0;
  text-align: center;
  opacity: 0;
  transition: all 0.3s ease;
  color: #34495e;
}

.selected {
  color: white;
  font-weight: bold;
}

#bt-background {
  background-color: white;
  height: 50px;
  color: black;
  font-weight: bold;
  width: 12em;
  border-radius: 30px;
  border-style: solid;
  margin-top: 1.5em;
}

#bt-show-data {
  width: 100%;
  background-color: white;
  height: 50px;
  color: black;
  font-weight: bold;
  border-radius: 30px;
  border-style: solid;
  margin-top: 1.5em;
}

/* Estilo pesquisa */

.search {
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.search-input-div {
  border: solid;
  background-color: gray;
  border-radius: 13px;
  width: 30em;
  height: 50px;
  overflow: hidden;
  margin-top: 0.5em;
}

#search-input {
  margin-left: 12px;
  width: 24em;
}

#search-lupa {
  margin-top: 3px;
  height: 40px;
  background: transparent;
  border-style: hidden;
}
